
<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Homepage</title>
    <link href="/style.css" rel="stylesheet" />
  </head>
  <body>
    <h5 style="color:blue"><%= messages.info %></h5>
    <h5 style="color:orangered"><%= messages.update %></h5>
    <h5 style="color:red"><%= messages.delete %></h5>
    <h1>
      <%= additional_data %>
    </h1>
    <% books.forEach((book) => { %>
      <div>
        <h6>ID</h6>
        <p><%= book?.id %></p>

        <h6>Title</h6>
        <p><%= book?.title %></p>

        <h6>Synopsis</h6>
        <p><%= book?.author %></p>

        <img src="<%= book?.coverImage %>" alt="coverBook" width="200">

        <div>
          <a href="/books/<%= book.id %>">See book</a>
          <a href="/books/<%= book.id %>/update">Update book</a>
          <a href="/books/<%= book.id %>/delete">Delete book</a>
        </div>
      </div>
    <% }) %>

    <a href="/books/create">Create book</a>
  </body>
</html>
